
@{
    Layout = null;
}

<!-- Footer -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col ">
                Copyright &copy; 2019 <a href="http://wwwmrmatch.net/" title="猫奇" target="_blank">Mr. Match</a>
            </div>
        </div>
    </div>
</footer>
