<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="RouteDebugger:Enabled" value="false" />




  <!--用户图像图片服务器根目录路径-->
  <add key="UploadRootPath" value= "D:\\MyCode\\AliSVN\\yangda.GrandSun\\development\\ImageSite\\UploadFile\\"/>
  <!--用户图像服务URL域名-->
  <add key="UploadRootURL" value="http://localhost:8085/"/>
  <!--Wap服务URL域名-->
  <add key="WapRootURL" value="http://zz.wap.deetoo.com"/>
  <add key="WxExpiresIn" value="5400"/>
  <add key="PageSizeTiny" value="12"/>
  <add key="PageSizeNormal" value="24"/>
  <add key="PageSizeLarge" value="48"/>

  <add key="JsVersion" value="20191111.1"/>
</appSettings>