<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <!--一般信息日志-->
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "Log\\LogInfo\\"/>
      <param name="RollingStyle" value="Date" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <param name= "MaxFileSize" value= "10240"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="InfoLog" />
      </filter>
    </appender>

    <!--错误信息日志-->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "Log\\LogError\\"/>
      <param name="RollingStyle" value="Date" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <param name= "MaxFileSize" value= "10240"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ErrorLog" />
      </filter>
    </appender>


    <!--调试信息日志-->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "Log\\DebugLog\\"/>
      <param name="RollingStyle" value="Date" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <param name= "MaxFileSize" value= "10240"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DebugLog" />
      </filter>
    </appender>


    <!--警告信息日志-->
    <appender name="WarningLog" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "Log\\WarningLog\\"/>
      <param name="RollingStyle" value="Date" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <param name= "MaxFileSize" value= "10240"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="WarningLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <!-- 错误日志类-->
    <logger name="ErrorLog">
      <level value="ALL" />
      <appender-ref ref="ErrorLog" />
    </logger>
    <!-- 信息日志类 -->
    <logger name="InfoLog">
      <level value="ALL" />
      <appender-ref ref="InfoLog" />
    </logger>
    <!-- 调试日志类-->
    <logger name="DebugLog">
      <level value="ALL" />
      <appender-ref ref="DebugLog" />
    </logger>
    <!-- 警告信息日志类 -->
    <logger name="WarningLog">
      <level value="ALL" />
      <appender-ref ref="WarningLog" />
    </logger>
  </log4net>
</configuration>