
$color-primary: #59C489;
$color-primary-sub: #86E3B0;
$color-gray: #76839b;

$color-success: #59C489;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$bg-primary: $color-primary;
$bg-primary_sub: $color-primary-sub;
$bg-body:#f7f7f7;

$text-primary: $color-primary;
$text-primary_sub: $color-primary-sub;
$text-gray: $color-gray;
$text-red: $color-warning;

$font-h1:28px;
$font-h2:24px;
$font-h3:20px;
$font-h4:18px;
$font-h5:16px;
$font-h6:14px;
