@using MrMatch.Admin.Handler;
@{
    ViewBag.Title = "WechatSiteMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fas fa-user"></i> 全站消息
        <small>基础数据</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fas fa-tachometer-alt"></i> 仪表盘</li>
        <li><i class="fas fa-users-cog"></i> 基础数据</li>
        <li class="active"><i class="fas fa-user"></i> 全站消息</li>
    </ol>
</section>


<section class="content">
    <div class="box" id="appMsgIndex">
        <div class="box-header">
            <div class="col-sm-4 no-padding">
                <div class="dataTables_length ">
                    <label>
                        每页显示
                        <select id="dataTableLen" class="form-control input-sm" v-model="selectSize" @@change="getList">
                            <option v-for="item in sizes" :value="item">{{item}}</option>
                        </select>
                    </label>
                    <el-button @@click="add('form','add')" type="success" size="small"><i class="fas fa-plus"></i>新增</el-button>
                </div>
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-3 no-padding">
                <div class="dataTables_filter pull-right input-group">
                    <input class="form-control no-margin input-sm" v-model="getArgs.keyWords" @@keyup.enter="getList" type="text" placeholder="搜索..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btn-sm" v-on:click="getList" type="button"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div><!-- /.box-header -->

        <div class="box-body">
            <!-- DB : Cfg_CountryInfo -->
            <template>
                <el-table :data="tableData"
                          :row-style="rowClass"
                          :cell-style="cellClass"
                          border
                          style="width:100%;color:black;">
                    <el-table-column prop="PKID"
                                     label="序号"
                                     width="100px"
                                     :show-overflow-tooltip="tableRowProp.hiden">
                    </el-table-column>
                    <el-table-column prop="MessageSubject"
                                     label="消息主题"
                                     :show-overflow-tooltip="tableRowProp.hiden">
                    </el-table-column>
                    <el-table-column prop="UserID"
                                     label="接受者"
                                     :show-overflow-tooltip="tableRowProp.hiden">
                    </el-table-column>
                    <el-table-column prop="Sender"
                                     label="发送者"
                                     :show-overflow-tooltip="tableRowProp.hiden">
                    </el-table-column>
                    <el-table-column prop="Valid"
                                     label="是否已发送"
                                     :show-overflow-tooltip="tableRowProp.hiden">
                        <template slot-scope="scope">
                            <p>{{scope.row.Valid |onValid}}</p>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作"
                                     width="200px">
                        <template slot-scope="scope">
                            <el-button @@click="updateFill(scope.row.PKID,'update')" type="text" size="medium">编辑</el-button>
                            <el-button @@click="redirectContent(scope.row.PKID)" type="text" size="medium">编辑消息内容</el-button>
                            <el-button @@click="sendMsg(scope.row.PKID)" type="text" size="medium" v-if="!scope.row.Valid">发送</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <button class="btn btn-default btn-sm" @@click="refresh"><i class="fa fa-refresh"></i> 刷新</button>
            <el-pagination small layout="prev, pager, next"
                           @@current-change="handleCurrentChange"
                           :current-page.sync="pagination.index"
                           :page-size="parseInt(selectSize)"
                           :total="pagination.total"
                           style="float:right;">
            </el-pagination>
        </div>
        <el-dialog :title="dialogArgs.title" :visible.sync="dialogArgs.dialogVisible" :before-close="closeModal" :close-on-press-escape="dialogArgs.diaClose" :close-on-click-modal="dialogArgs.diaClose">
            <el-form ref="form" :model="form" :label-position="dialogArgs.labelPosition" :rules="rules" label-width="80px;">
                <el-row>
                    <el-col :span="24">
                        <el-form-item label="消息主题*" prop="MessageSubject">
                            <el-input v-model="form.MessageSubject" placeholder="请输入消息主题(必填)"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="发送者*" prop="FromID">
                            <el-input v-model="form.FromID" placeholder="请输入发送者(必填)"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="接收者*" prop="UserID">
                            <el-input v-model="form.UserID" placeholder="请输入接收者(必填)"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @@click="submitForm('form')" v-if="btnShow.addShow">新增</el-button>
                <el-button type="primary" @@click="updateForm('form')" v-if="btnShow.updateShow">修改</el-button>
                <el-button @@click="resetForm('form')">重置</el-button>
            </span>
        </el-dialog>
    </div><!-- /.box -->
</section>




<script src="@Html.GetCssJsUrl("/Js/system/WechatSiteMessage.js")">
</script>

