@using MrMatch.Biz.Handler;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>首页</h1>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">首页</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" id="accountIndex" v-cloak>
    <div class="animated fadeIn">
        <div class="ui-typography">
            <div class="row">
                <div class="col col-md-12 ">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">流程管理</strong>
                        </div>
                        <div class="card-body card-block">



                            <div v-if="check!='已审核'">您的企业 <strong>{{companyName}}</strong> 信息正在 <label class="text-danger">审核中</label>，请耐心等待。</div>

                            <div class="color-gray" style="font-size:14px; line-height:2;">
                                <div class="col col-lg-4 col-md-12 col-sm-12 no-padding" v-for="(item,i) in interviewitems">
                                    <a href="javascript:void(0);" @@click="setStatus(item.val)" :class="item.class">
                                        {{item.label}}：<span class="text-light-blue">{{interviewCount[item.name]}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" v-if="true">友情提醒</strong>
                            <div class="pull-right text-bold">
                                <label class="text-info">{{check}}</label>
                                <el-button type="primary" @@click="submitForm" v-if="check!='已审核'" size="mini">提交审核</el-button>
                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa  fa-info-circle"></i>
                                    尊敬的用户：<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;请您先填写【基本信息】、【企业Logo】、【营业执照】和【个人资料】。
                                    填写完成后在【首页】点击【提交审核】按钮。
                                    请您耐心等待我们的客户成功经理与您取得联系（一般为24个小时内）。
                                    完成进一步的签约工作后，方可全面使用猫奇的服务和功能。
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" v-if="true">签约信息</strong>
                            <div class="pull-right text-bold">
                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div class="card" v-if="contracts&&contracts.length==0">
                                <div class="card-body bg-aqua">
                                    <i class="fa  fa-info-circle"></i> {{contractHelp}}
                                </div>
                            </div>
                            <div class="card" v-else>
                                <div class="card-body">
                                    <i class="fa  fa-info-circle"></i> 已签约，截止日期：{{contracts[0].ExpireDate|dateFormat}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Html.GetCssJsUrl("/Assets/Js/account/index.js")"   ></script>