@using MrMatch.Biz.Handler;
@{
    ViewBag.Title = "Logo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>企业标识</h1>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li>账号</li>
                            <li class="active">企业标识</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" id="appLogo" v-cloak>
    <div class="animated fadeIn">

        <div class="ui-typography">
            <div class="row">
                <div class="col col-md-12">

                    <div class="card">
                        <div class="card-body card-block" v-if="logo">
                            <div class="row form-group margin-bottom-30">
                                <div class="col col-md-2"><label for="disabled-input" class=" form-control-label">公司LOGO</label></div>
                                <div class="col col-12 col-md-10">
                                    <div class="row color-gray small">
                                        <div style="position:relative;">
                                            <div class="avatar-uploader">
                                                <div class="el-upload">
                                                    <img class="avatar" :src="logo" alt="">
                                                </div>
                                            </div>
                                            <div style="position:absolute;top:0;left:100%;transform:translateX(30px)">
                                                <el-button size="small" type="primary" @@click="pictureCardPreview(logo)">预览</el-button>
                                            </div>
                                                    
                                            <div style="position:absolute;bottom:0;left:100%;transform:translateX(30px);width:300px;"  v-if="logo">
                                                <div class="inline-block text-center" style="margin-right:5px;">
                                                    <img :src="logo" class="avatar show-80" >
                                                    <div>80x80</div>
                                                </div>
                                                <div class="inline-block text-center" style="margin-right:5px;" >
                                                    <img :src="logo" class="avatar show-60" >
                                                    <div>60x60</div>
                                                </div>
                                                <div class="inline-block text-center" style="margin-right:5px;" >
                                                    <img :src="logo" class="avatar  show-40" >
                                                    <div>40x40</div>
                                                </div>
                                            </div>
                                        </div>
                                                
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group margin-bottom-30">
                                <div class="col col-md-2"><label for="disabled-input" class=" form-control-label">更新LOGO</label></div>
                                <div class="col col-12 col-md-10">
                                    <div class="row color-gray small">
                                        <div style="position:relative;">
                                            <div class="">
                                                <el-upload
                                                    class="avatar-uploader" 
                                                    action="/api/accountapi/UploadLogo"
                                                    :headers="header"
                                                    name='imgFile'
                                                    :limit="1"
                                                    :before-upload="beforeAvatarUpload">

                                                <img v-if="!imgShow" :src="uploadImg" class="avatar" >
                                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </div>
                                            <div style="position:absolute;top:0;left:100%;transform:translateX(30px)" v-if="!imgShow">
                                                <el-button class="pull-left" style="float:left"  size="small" type="primary" @@click="pictureCardPreview(uploadImg)">预览</el-button>         
                                            </div>
                                                    
                                            <div style="position:absolute;bottom:0;left:100%;transform:translateX(30px);width:300px;"  v-if="!imgShow">
                                                <div class="inline-block text-center" style="margin-right:5px;">
                                                    <img :src="uploadImg" class="avatar show-80">
                                                    <div>80x80</div>
                                                </div>
                                                <div class="inline-block text-center" style="margin-right:5px;" >
                                                    <img :src="uploadImg" class="avatar show-60">
                                                    <div>60x60</div>
                                                </div>
                                                <div class="inline-block text-center" style="margin-right:5px;" >
                                                    <img :src="uploadImg" class="avatar show-40">
                                                    <div>40x40</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-info" @@click="uploadLogo" :disabled="loading.submitLoading">
                                <i :class="'far '+(loading.submitLoading?'el-icon-loading':'fa-dot-circle')"></i> 提交
                            </button>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>

        
        <el-dialog :visible.sync="dialogVisible" style="margin-top:-10vh">
            <img style="width:100%;" :src="dialogImageUrl" alt="">
        </el-dialog>
                                                    

    </div><!-- .animated -->
</div>
<style>
    .avatar-uploader .el-upload {
           border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

    .avatar-uploader-icon {
            font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
    }

    .avatar {
    width: 178px;
    height: 178px;
        display: block;
    }

    .update-btn {
        position: absolute;
        top: 80px;
        left: 50px;
        z-index: 10;
        line-height: 40px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        border-radius: 5px;
        opacity: .8;
    }

    .show-80 {
        width:80px; 
        height:80px;  
        border-radius:50%; 
        box-shadow: 0 0px 0 1px #eee;
    }

    .show-60 {
        width:60px; 
        height:60px;  
        border-radius:50%; 
        box-shadow: 0 0px 0 1px #eee;
    }

    .show-40 {
        width:40px; 
        height:40px;  
        border-radius:50%; 
        box-shadow: 0 0px 0 1px #eee;
    }
</style>
<script src="@Html.GetCssJsUrl("/Assets/Js/account/logo.js")"></script>